---
import { PRODUCTS } from "@/lib/products.ts";
interface Props {}
---

<section class="flex flex-row flex-wrap gap-8">
  
    {
      PRODUCTS.map((product) => (
        <div class="my-7 relative group duration-500 cursor-pointer group overflow-hidden text-gray-50 h-72 w-56 rounded-2xl hover:duration-700">
          <img
            class="w-56 h-72 bg-transparent text-gray-800  hover:scale-110 transition"
            src={product.img}
            alt={`imagen del producto ${product.name}`}
          />
          <div class="absolute bg-gray-50 -bottom-28 w-56 p-3 flex flex-col gap-1 group-hover:-bottom-0 group-hover:duration-600 duration-500">
            <div class="flex flex-row gap-6">
              <div class="flex flex-col">
                <span class="uppercase font-extrabold text-yellow-700 text-xs pb-2">
                  {product.name}
                </span>
                <span class="text-gray-800 font-bold text-xs">
                  {product.materials}
                </span>
              </div>
              <div class="flex flex-row justify-end items-baseline">
                <span class="text-gray-800 text-xs font-extrabold flex-grow justify-items-end text-end">
                  ${product.price}
                </span>
              </div>
            </div>
            <p class="text-neutral-800 text-sm">{product.description}</p>
          </div>
        </div>
      ))
    }
</section>

<style>
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 20px;
  }
</style>
