---
import { PRODUCTS } from "@/lib/products.ts";
import Container from "./Container.astro";
interface Props {}
---

<section class="flex flex-col">
  <Container>
    <div class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 content-between gap-5 place-items-center mx-auto px-10">
  
    
      {
        PRODUCTS.map((product) => (
          <div class="mt-7 relative group duration-500 shadow-lg shadow-neutral-600 cursor-pointer group overflow-hidden text-gray-50 h-76 w-full rounded-2xl hover:duration-700">
            <img
              class="w-full h-80 bg-transparent text-gray-800  hover:scale-110 transition"
              src={product.img}
              alt={`imagen del producto ${product.name}`}
            />
            <div class="absolute bg-gray-50 -bottom-24 sm:-bottom-24 md:-bottom-24 w-full p-3 flex flex-col gap-1 group-hover:-bottom-0 group-hover:duration-600 duration-500">
              <div class="flex flex-row gap-6 justify-between">
                <div class="flex flex-col">
                  <span class="uppercase font-extrabold text-yellow-700 text-xs pb-2">
                    {product.name}
                  </span>
                  <span class="text-gray-800 font-bold text-xs">
                    {product.materials}
                  </span>
                </div>
                <div class="flex justify-start items-start">
                  <span class="text-gray-800 text-xs font-extrabold flex-grow justify-items-end text-end">
                    ${product.price}
                  </span>
                </div>
              </div>
              <p class="text-neutral-800 text-sm">{product.description}</p>
            </div>
          </div>
        ))
      }
      </div>
    </Container>
    <a class="mx-auto text-center text-base mt-10 bg-slate-600 hover:bg-yellow-200 transition hover:text-[#012029] text-white font-extrabold px-3 py-1 rounded-lg inline-block"href="/">Ver Todos los Productos</a>
</section>

<style>
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 20px;
  }

</style>
